@import "/src/_mixins";

.game {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 740px;
  margin: 0 auto;
  margin-top: 70px;
  > .container {
    display: flex;
    flex-direction: column;
    // background: palegoldenrod;
    align-items: center;
    @include devices(tablet, min) {
      flex-direction: column-reverse;

      justify-content: flex-end;
    }

    > p {
      color: white;
      margin: 1rem 0;
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 14px;
      @include devices(tablet, min) {
        font-size: 20px;
        margin: 4.125rem 0;
      }
    }
    > .blank-circle {
      border-radius: 50%;
      margin: 10px 0;
      width: 110px;
      height: 110px;
      background-color: rgba(0, 0, 0, 0.2);

      @include devices(tablet, min) {
        height: 190px;
        width: 190px;
        margin-bottom: 0;
        margin-top: 2.5rem;
      }
    }
  }
}
