@import "/src/_mixins";

button {
  border-color: hsl(230, 89%, 65%);
  box-shadow: 1px 7px 0px -1px hsl(230deg 54% 46%),
    inset 0px 7px 0px 0px rgb(0 0 0 / 18%);

  @include devices(tablet, min) {
    border-color: hsl(230, 89%, 65%);
    box-shadow: 2px 12px 0px -1px hsl(230deg 54% 46%),
      inset 0px 12px 0px 0px rgb(0 0 0 / 18%);
  }
}
